[package]
name = "leaper-executor"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true

[dependencies]
iced.workspace = true

tokio.workspace = true
futures.workspace = true
