[package]
name = "leaper"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true

[features]
default = ["surrealdb/kv-rocksdb"]
db-websocket = ["surrealdb/protocol-ws"]

profile = ["tracing-tracy", "macros/profile"]

[dependencies]
macros = { path = "../leaper-macros", package = "leaper-macros" }

surrealdb = { workspace = true, features = ["allocator"] }
surrealdb-extras.workspace = true
# surrealdb-extras = { path = "../../surrealdb-extras" }

serde.workspace = true

heck.workspace = true

color-eyre.workspace = true

iced = { version = "0.13", features = ["tokio", "image", "svg", "advanced"] }
iced_layershell = "0.13.7"
iced_aw = { version = "0.12.2", default-features = false, features = [
  "spinner",
] }
iced_fonts = { version = "0.2.1", features = ["nerd"] }

clap = { version = "4.5.51", features = ["derive"] }

tokio = { version = "1.48", features = ["rt", "rt-multi-thread"] }
tokio-stream = "0.1.17"
futures = "0.3.31"

logind-zbus = "5.3.2"
zbus = { version = "5.12.0", features = ["tokio"] }

directories = "6.0"
shlex = "1.3.0"
vfs = { version = "0.12.2", features = ["async-vfs"] }
image = "0.25.8"
freedesktop-desktop-entry = "0.7.19"

nucleo = "0.5.0"

bon = "3.8"
smart-default = "0.7.1"
derive_more = { version = "2.0.1", features = ["from", "debug"] }
pastey = "0.1"
itertools = "0.14"

toml = "0.9.8"

tracing = "0.1"
tracing-subscriber = { version = "0.3.20", features = [
  "ansi",
  "env-filter",
], default-features = false }

thiserror = "2.0"

# Profiling
tracing-tracy = { version = "0.11", default-features = false, features = [
  "broadcast",
  "callstack-inlines",
  "code-transfer",
  "context-switch-tracing",
  "enable",
  "sampling",
  "fibers",
  "ondemand",
  "timer-fallback",
], optional = true }


dashmap = "6.1.0"
ez-pixmap = "0.2.2"
tokio-mpmc = "0.2.4"

[package.metadata.cargo-machete]
ignored = ["thiserror"]
