name: "Cachix Build"
on:
  pull_request:
  push:
  release:
jobs:
  nix_build_and_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v14
      with:
        name: leaper
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: nix build
    - run: NIXPKGS_ALLOW_UNFREE=1 nix flake check --impure
